{% extends 'base.html.twig' %}

{% block title %} Payment Days{% endblock %}

{% block body %}
    <div class="container">
        <h2>Days to payment</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Month</th>
                <th>Day Week</th>
                <th>Day payment</th>
            </tr>
            </thead>
            <tbody>
            {% for day in paymentDays %}
            <tr>
                <td>{{ day.month }}</td>
                <td>{{ day.nameDay }}</td>
                <td>{{ day.numDay }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href={{ path('generate_csc')}}>CSV</a></li>
                <li><a href={{ path('generate_xlsx')}}>XLSX</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
